---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Skills">
  <h1>Skills</h1>
  <ul>
    <li>AWS</li>
    <li>Terraform</li>
    <li>Docker</li>
    <li>CI/CD</li>
  </ul>
</BaseLayout>
