<nav class="flex justify-between items-center py-6 border-b">
  <span class="font-semibold text-lg">Witalij Rapicki</span>

  <div class="space-x-6 text-sm font-medium">
    <a href="/" class="hover:underline">About</a>
    <a href="/skills" class="hover:underline">Skills</a>
    <a href="/ContactForm" class="hover:underline">Contact</a>
  </div>
</nav>
