<nav class="flex justify-between items-center py-6">
  <a href="/" class="text-xl font-semibold">Witalij Rapicki</a>

  <div class="space-x-6">
    <a href="/" class="hover:underline">Home</a>
    <a href="/contact" class="hover:underline">Contact</a>
  </div>
</nav>
