---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Witalij Rapicki</title>
  </head>

  <body class="min-h-screen bg-gray-50 flex items-center justify-center">
    <main class="w-full max-w-xl p-6 bg-white rounded-lg shadow">
      <slot />
    </main>
  </body>
</html>
