name: Terraform Infra

on:
  push:
    branches:
      - main
    paths:
      - infra/**

permissions:
  contents: read

jobs:
  backend:
    name: Terraform Backend (state + lock)
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infra/backend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve


  frontend:
    name: Terraform Frontend (S3 + CloudFront + Route53)
    runs-on: ubuntu-latest
    needs: backend

    defaults:
      run:
        working-directory: infra/frontend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan (prod)
        run: terraform plan -var-file=prod.tfvars

      - name: Terraform Apply (prod)
        run: terraform apply -auto-approve -var-file=prod.tfvars
