name: Terraform Apply

on:
  workflow_dispatch:

defaults:
  run:
    working-directory: infra/frontend

concurrency:
  group: terraform-apply
  cancel-in-progress: false

jobs:
  apply:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    environment:
      name: prod   # ⛔ manual approval required

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.6

      - name: Configure AWS credentials (OIDC – APPLY)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::242046727288:role/github-actions-terraform-apply
          aws-region: eu-central-1
          role-session-name: github-actions-terraform-apply

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Apply
        run: terraform apply -var-file=prod.tfvars -auto-approve -input=false
